.login-page-main-wrapper {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 50vw;
    min-width: 30vw;
}